name: Publish send-text bot Docker image
on:
  push:
    branches:
      - main
    paths:
      - "packages/send-text/**"
jobs:
  push_to_registry:
    name: Push Docker image to atndr.net registry
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      - name: Push to Docker registry
        uses: docker/build-push-action@v1
        with:
          registry: docker.atndr.net
          repository: bots/send-text
          username: ${{ secrets.ATNDR_DOCKER_USERNAME }}
          password: ${{ secrets.ATNDR_DOCKER_PASSWORD }}
          tag_with_ref: true
          tag_with_sha: true
          path: packages/send-text
